<nz-tree nzBlockNode nzDraggable nzBlockNode (nzOnDrop)="nzEvent($event)" (nzOnDragOver)="nzEventOver($event)" [nzData]="nodes"
    [nzTreeTemplate]="nzTreeTemplate"></nz-tree>
<ng-template #nzTreeTemplate let-node let-origin="origin">
        <div class="custom-node d-flex justify-content-between" (contextmenu)="contextMenu($event, menu)">
           
            <span class="node-name">{{ node.title }}</span>
            <span class="node-action">
                <nz-switch >
                </nz-switch>

            </span>
        </div>
</ng-template>
<nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
        <li nz-menu-item (click)="selectDropdown()">Action 1</li>
        <li nz-menu-item (click)="selectDropdown()">Action 2</li>
    </ul>
</nz-dropdown-menu>