/* You can add global styles to this file, and also import other style files */

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.donut {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1.2s linear infinite;

  &.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

 svg {
  vertical-align: initial  !important;
}

.ant-layout-sider-zero-width-trigger-right {
  right: auto;
}



// layout
.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-header.ant-layout-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

// nz-breadcrumb {
//   margin: 16px 0;
// }

.inner-content {
  // padding: 24px;
  background: none;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}