<div class="d-flex flex-wrap align-content-between justify-content-between">
    <nz-card class="action-card" nzHoverable >
        <i nz-icon nzType="shop" nzTheme="outline"></i>
        <p>Card content</p>
      </nz-card>
      <nz-card class="action-card" nzHoverable >
        <i nz-icon nzType="shop" nzTheme="outline"></i>
        <p>Card content</p>
      </nz-card>
      <nz-card class="action-card" nzHoverable >
        <i nz-icon nzType="shop" nzTheme="outline"></i>
        <p>Card content</p>
      </nz-card>
      <nz-card class="action-card" nzHoverable >
        <i nz-icon nzType="shop" nzTheme="outline"></i>
        <p>Card content</p>
      </nz-card>
  </div>