
<div class="d-flex flex-wrap align-content-between justify-content-start">
    <nz-card class="action-card" nzHoverable>
        <i class="action-icon" nz-icon nzType="shop" nzTheme="outline"></i>
        <span class="action-name">إعدادات المتجر</span>
      </nz-card>
      <nz-card class="action-card" nzHoverable >
        <i class="action-icon" nz-icon nzType="shop" nzTheme="outline"></i>
        <span class="action-name">الميزات</span>
      </nz-card>
      <nz-card class="action-card" nzHoverable >
        <i class="action-icon" nz-icon nzType="shop" nzTheme="outline"></i>
        <span class="action-name">الإعدادات الإقليمية</span>
      </nz-card>
      <nz-card class="action-card" nzHoverable >
        <i class="action-icon" nz-icon nzType="shop" nzTheme="outline"></i>
        <span class="action-name">Card content</span>
      </nz-card>
      <nz-card class="action-card" nzHoverable >
        <i class="action-icon" nz-icon nzType="shop" nzTheme="outline"></i>
        <span class="action-name">Card content</span>
      </nz-card>
      <nz-card class="action-card" nzHoverable >
        <i class="action-icon" nz-icon nzType="shop" nzTheme="outline"></i>
        <span class="action-name">Card content</span>
      </nz-card>
      <nz-card class="action-card" nzHoverable >
        <i class="action-icon" nz-icon nzType="shop" nzTheme="outline"></i>
        <span class="action-name">Card content</span>
      </nz-card>
      <nz-card class="action-card" nzHoverable >
        <i class="action-icon" nz-icon nzType="shop" nzTheme="outline"></i>
        <span class="action-name">Card content</span>
      </nz-card>
  </div>